<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.daily_fume">

    <!-- 카카오톡 로그인 - 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Daily_fume">

        <!-- 카카오톡 로그인 -->
       <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakaoApi" />
        <activity android:name=".KakaoSDKInit"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".PickFumeActivity"
            android:exported="false" /> <!-- 찜한 향수 페이지 -->
        <activity
            android:name=".PickListActivity"
            android:exported="false" /> <!-- 찜 목록 페이지 -->
        <activity
            android:name=".QnaActivity"
            android:exported="false" /> <!-- 문의사항 페이지 -->
        <activity
            android:name=".UserPrivacyActivity"
            android:exported="false" /> <!-- 개인정보 수정 페이지 -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" /> <!-- 메인 홈화면 페이지 -->
        <activity
            android:name=".TestActivity"
            android:exported="false" /> <!-- 향수 테스트 페이지 -->
        <activity
            android:name=".MyPageActivity"
            android:exported="false" /> <!-- 마이페이지 인덱스 -->
        <activity
            android:name=".JoinYesActivity"
            android:exported="false" /> <!-- 회원가입 완료 페이지 -->
        <activity
            android:name=".TestMainActivity"
            android:exported="false" /> <!-- 테스트페이지 인덱스 -->
        <activity
            android:name=".MemberTerms"
            android:exported="false" /> <!-- 가입 약관 페이지 -->
        <activity
            android:name=".JoinActivity"
            android:exported="false" /> <!-- 회원가입 페이지 -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- 로그인 페이지 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- 첫화면 페이지 -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>